# Dependencies
node_modules/

# Build / cache
artifacts/
cache/
typechain-types/
coverage/
coverage.json

# Env
.env
.env.*

# OpenZeppelin
.openzeppelin/

# IDE
.idea/
.obsidian/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
